.hero__container {
  padding: 0 6rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  background: #000000;

  @media (max-width: 1024px) {
    padding: 3rem;
  }

  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.hero__title {
  font-variation-settings: "wght" 700;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
  margin-top: 0;
  text-align: center;
  justify-content: center;
}

.hero__subtitle {
  font-variation-settings: "wght" 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-top: 0;
  text-align: center;
  justify-content: center;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.hero__links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.hero__tooltip_content {
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}